In [1]:
from cleaning_data import read_multiple_days
df = read_multiple_days('Sun Apr 4, 2021', 14)
df.tail()

Added df for: Sun Apr 4, 2021
Added df for: Mon Apr 5, 2021
Added df for: Tue Apr 6, 2021
Added df for: Wed Apr 7, 2021
Added df for: Thu Apr 8, 2021
Added df for: Fri Apr 9, 2021
Added df for: Sat Apr 10, 2021
Added df for: Sun Apr 11, 2021
Added df for: Mon Apr 12, 2021
Added df for: Tue Apr 13, 2021
Added df for: Wed Apr 14, 2021
Added df for: Thu Apr 15, 2021
Added df for: Fri Apr 16, 2021
Added df for: Sat Apr 17, 2021

,mmol/L,trend,exercise (mins),day,month,year,hours_time,weekday,Elliptical,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer
3803,9.8,3.0,NaN,17,4,2021,12.650000,5,0,0,0,0,0,0,0,0,0
3804,9.8,3.0,NaN,17,4,2021,12.733333,5,0,0,0,0,0,0,0,0,0
3805,9.7,3.0,NaN,17,4,2021,12.816667,5,0,0,0,0,0,0,0,0,0
3806,9.8,3.0,NaN,17,4,2021,12.900000,5,0,0,0,0,0,0,0,0,0
3807,9.7,3.0,NaN,17,4,2021,12.983333,5,0,0,0,0,0,0,0,0,0

In [7]:
df.loc[60: 100]

,mmol/L,trend,exercise (mins),day,month,year,hours_time,weekday,Elliptical,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer
60,NaN,NaN,NaN,4,4,2021,13.050000,6,0,0,0,0,0,0,0,0,0
61,13.4,3.0,NaN,4,4,2021,13.133333,6,0,0,0,0,0,0,0,0,0
62,13.3,3.0,NaN,4,4,2021,13.216667,6,0,0,0,0,0,0,0,0,0
63,13.0,3.0,NaN,4,4,2021,13.300000,6,0,0,0,0,0,0,0,0,0
64,13.1,3.0,NaN,4,4,2021,13.383333,6,0,0,0,0,0,0,0,0,0
65,13.2,3.0,NaN,4,4,2021,13.466667,6,0,0,0,0,0,0,0,0,0
66,13.1,3.0,NaN,4,4,2021,13.550000,6,0,0,0,0,0,0,0,0,0
67,13.1,3.0,NaN,4,4,2021,13.633333,6,0,0,0,0,0,0,0,0,0
68,13.2,3.0,NaN,4,4,2021,13.716667,6,0,0,0,0,0,0,0,0,0
69,13.5,3.0,NaN,4,4,2021,13.800000,6,0,0,0,0,0,0,0,0,0
70,13.9,3.0,NaN,4,4,2021,13.883333,6,0,0,0,0,0,0,0,0,0
71,14.3,4.0,NaN,4,4,2021,13.966667,6,0,0,0,0,0,0,0,0,0
72,14.6,4.0,NaN,4,4,2021,14.050000,6,0,0,0,0,0,0,0,0,0
73,14.9,4.0,NaN,4,4,2021,14.133333,6,0,0,0,0,0,0,0,0,0
74,15.3,4.0,NaN,4,4,2021,14.216667,6,0,0,0,0,0,0,0,0,0
75,15.6,4.0,NaN,4,4,2021,14.300000,6,0,0,0,0,0,0,0,0,0
76,15.6,3.0,NaN,4,4,2021,14.383333,6,0,0,0,0,0,0,0,0,0
77,15.6,3.0,NaN,4,4,2021,14.466667,6,0,0,0,0,0,0,0,0,0
78,15.6,3.0,NaN,4,4,2021,14.550000,6,0,0,0,0,0,0,0,0,0
79,15.3,3.0,NaN,4,4,2021,14.633333,6,0,0,0,0,0,0,0,0,0
80,15.1,3.0,NaN,4,4,2021,14.716667,6,0,0,0,0,0,0,0,0,0
81,15.1,3.0,65.0,4,4,2021,14.800000,6,0,0,0,0,0,0,0,0,1
82,15.1,3.0,NaN,4,4,2021,14.883333,6,0,0,0,0,0,0,0,0,1
83,14.7,3.0,NaN,4,4,2021,14.966667,6,0,0,0,0,0,0,0,0,1
84,13.6,2.0,NaN,4,4,2021,15.050000,6,0,0,0,0,0,0,0,0,1
85,12.1,1.0,NaN,4,4,2021,15.133333,6,0,0,0,0,0,0,0,0,1
86,10.6,0.0,NaN,4,4,2021,15.216667,6,0,0,0,0,0,0,0,0,1
87,9.4,0.0,NaN,4,4,2021,15.300000,6,0,0,0,0,0,0,0,0,1
88,9.1,0.0,NaN,4,4,2021,15.383333,6,0,0,0,0,0,0,0,0,1
89,9.3,1.0,NaN,4,4,2021,15.466667,6,0,0,0,0,0,0,0,0,1
90,9.6,2.0,NaN,4,4,2021,15.550000,6,0,0,0,0,0,0,0,0,1
91,9.8,3.0,NaN,4,4,2021,15.633333,6,0,0,0,0,0,0,0,0,1
92,10.1,3.0,NaN,4,4,2021,15.716667,6,0,0,0,0,0,0,0,0,1
93,10.3,3.0,NaN,4,4,2021,15.800000,6,0,0,0,0,0,0,0,0,1
94,10.3,3.0,NaN,4,4,2021,15.883333,6,0,0,0,0,0,0,0,0,0
95,10.4,3.0,NaN,4,4,2021,15.966667,6,0,0,0,0,0,0,0,0,0
96,10.5,3.0,NaN,4,4,2021,16.050000,6,0,0,0,0,0,0,0,0,0
97,10.6,3.0,NaN,4,4,2021,16.133333,6,0,0,0,0,0,0,0,0,0
98,11.0,3.0,NaN,4,4,2021,16.216667,6,0,0,0,0,0,0,0,0,0
99,11.3,3.0,NaN,4,4,2021,16.300000,6,0,0,0,0,0,0,0,0,0
100,11.6,4.0,NaN,4,4,2021,16.383333,6,0,0,0,0,0,0,0,0,0

### Examine only the low blood sugars
- Low blood sugars occur when mmol/L < 4.0
- Graph the low blood sugars against other factors to learn more aboiut occurances

In [8]:
low_df = df.loc[df['mmol/L'] < 4]
low_df.head()

,mmol/L,trend,exercise (mins),day,month,year,hours_time,weekday,Elliptical,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer
246,3.9,3.0,NaN,5,4,2021,4.550000,0,0,0,0,0,0,0,0,0,0
247,3.8,3.0,NaN,5,4,2021,4.633333,0,0,0,0,0,0,0,0,0,0
248,3.6,3.0,NaN,5,4,2021,4.716667,0,0,0,0,0,0,0,0,0,0
249,3.5,3.0,NaN,5,4,2021,4.800000,0,0,0,0,0,0,0,0,0,0
250,3.4,3.0,NaN,5,4,2021,4.883333,0,0,0,0,0,0,0,0,0,0

In [9]:
low_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 246 to 3136
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   mmol/L                            24 non-null     float64
 1   trend                             24 non-null     float64
 2   exercise (mins)                   0 non-null      float64
 3   day                               24 non-null     int32
 4   month                             24 non-null     int32
 5   year                              24 non-null     int32
 6   hours_time                        24 non-null     float64
 7   weekday                           24 non-null     int32
 8   Elliptical                        24 non-null     uint8
 9   Walking                           24 non-null     uint8
 10  basketball                        24 non-null     uint8
 11  core training                     24 non-null     uint8
 12  functional strength training      24 non-null     uint8
 13  high intensity interval training  24 non-null     uint8
 14  martial arts                      24 non-null     uint8
 15  other                             24 non-null     uint8
 16  soccer                            24 non-null     uint8
dtypes: float64(4), int32(4), uint8(9)
memory usage: 1.5 KB

In [10]:
low_df.reset_index(inplace=True, drop=True)

In [11]:
low_df

,mmol/L,trend,exercise (mins),day,month,year,hours_time,weekday,Elliptical,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer
0,3.9,3.0,NaN,5,4,2021,4.550000,0,0,0,0,0,0,0,0,0,0
1,3.8,3.0,NaN,5,4,2021,4.633333,0,0,0,0,0,0,0,0,0,0
2,3.6,3.0,NaN,5,4,2021,4.716667,0,0,0,0,0,0,0,0,0,0
3,3.5,3.0,NaN,5,4,2021,4.800000,0,0,0,0,0,0,0,0,0,0
4,3.4,3.0,NaN,5,4,2021,4.883333,0,0,0,0,0,0,0,0,0,0
5,3.3,3.0,NaN,5,4,2021,4.966667,0,0,0,0,0,0,0,0,0,0
6,3.2,3.0,NaN,5,4,2021,5.050000,0,0,0,0,0,0,0,0,0,0
7,3.3,3.0,NaN,5,4,2021,5.133333,0,0,0,0,0,0,0,0,0,0
8,3.8,2.0,NaN,6,4,2021,14.716667,1,0,0,0,0,0,1,0,0,0
9,3.4,2.0,NaN,6,4,2021,14.800000,1,0,0,0,0,0,0,0,0,0
10,3.1,2.0,NaN,6,4,2021,14.883333,1,0,0,0,0,0,0,0,0,0
11,2.8,2.0,NaN,6,4,2021,14.966667,1,0,0,0,0,0,0,0,0,0
12,2.6,2.0,NaN,6,4,2021,15.050000,1,0,0,0,0,0,0,0,0,0
13,3.6,3.0,NaN,6,4,2021,15.133333,1,0,0,0,0,0,0,0,0,0
14,3.9,2.0,NaN,7,4,2021,10.966667,2,0,0,0,0,0,0,0,0,0
15,3.6,2.0,NaN,7,4,2021,11.050000,2,0,0,0,0,0,0,0,0,0
16,3.3,2.0,NaN,7,4,2021,11.133333,2,0,0,0,0,0,0,0,0,0
17,3.4,3.0,NaN,7,4,2021,11.216667,2,0,0,0,0,0,0,0,0,0
18,3.8,3.0,NaN,7,4,2021,11.300000,2,0,0,0,0,0,0,0,0,0
19,3.9,0.0,NaN,10,4,2021,19.216667,5,0,0,0,0,0,0,0,0,0
20,3.9,3.0,NaN,15,4,2021,4.816667,3,0,0,0,0,0,0,0,0,0
21,3.9,3.0,NaN,15,4,2021,4.900000,3,0,0,0,0,0,0,0,0,0
22,3.9,3.0,NaN,15,4,2021,4.983333,3,0,0,0,0,0,0,0,0,0
23,3.9,3.0,NaN,15,4,2021,5.066667,3,0,0,0,0,0,0,0,0,0

In [ ]:
### Analysze lows vs weekday in a pie chart
-