In [1]:
from cleaning_data import read_multiple_days
df = read_multiple_days('Sun Apr 4, 2021', 14)
df.tail()

Added df for: Sat Apr 3, 2021
Added df for: Sun Apr 4, 2021
Added df for: Mon Apr 5, 2021
Added df for: Tue Apr 6, 2021
Added df for: Wed Apr 7, 2021
Added df for: Thu Apr 8, 2021
Added df for: Fri Apr 9, 2021
Added df for: Sat Apr 10, 2021
Added df for: Sun Apr 11, 2021
Added df for: Mon Apr 12, 2021
Added df for: Tue Apr 13, 2021
Added df for: Wed Apr 14, 2021
Added df for: Thu Apr 15, 2021
Added df for: Fri Apr 16, 2021

,mmol/L,trend,exercise (mins),day,month,year,minutes_time,weekday,Elliptical,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer
4031,5.9,3,NaN,17,4,2021,459,5,0,0,0,0,0,0,0,0,0
4032,5.9,3,NaN,17,4,2021,464,5,0,0,0,0,0,0,0,0,0
4033,5.9,3,NaN,17,4,2021,469,5,0,0,0,0,0,0,0,0,0
4034,6.3,3,NaN,17,4,2021,474,5,0,0,0,0,0,0,0,0,0
4035,6.5,3,NaN,17,4,2021,479,5,0,0,0,0,0,0,0,0,0