In [3]:
from cleaning_data import read_workbook_sheet
df = read_workbook_sheet('Sugarmate-Report-Lucas-04-21.xlsx', 'Sat Apr 3, 2021', 13)
df.tail()

                    time mmol/L trend activity exercise (mins)
283  2021-04-04 07:38:00      7     →      NaN             NaN
284  2021-04-04 07:43:00    7.1     →      NaN             NaN
285  2021-04-04 07:48:00    6.9     →      NaN             NaN
286  2021-04-04 07:53:00    6.8     →      NaN             NaN
287  2021-04-04 07:58:00    6.7     →      NaN             NaN