In [1]:
from cleaning_data import read_multiple_days
df = read_multiple_days('Fri Jan 1, 2021', 200)
df.tail()

Added df for: Fri Jan 1, 2021
Added df for: Sat Jan 2, 2021
Added df for: Sun Jan 3, 2021
Added df for: Mon Jan 4, 2021
Added df for: Tue Jan 5, 2021
Added df for: Wed Jan 6, 2021
Added df for: Thu Jan 7, 2021
Added df for: Fri Jan 8, 2021
Added df for: Sat Jan 9, 2021
Added df for: Sun Jan 10, 2021
Added df for: Mon Jan 11, 2021
Added df for: Tue Jan 12, 2021
Added df for: Wed Jan 13, 2021
Added df for: Thu Jan 14, 2021
Added df for: Fri Jan 15, 2021
Added df for: Sat Jan 16, 2021
Added df for: Sun Jan 17, 2021
Added df for: Mon Jan 18, 2021
Added df for: Tue Jan 19, 2021
Added df for: Wed Jan 20, 2021
Added df for: Thu Jan 21, 2021
Added df for: Fri Jan 22, 2021
Added df for: Sat Jan 23, 2021
Added df for: Sun Jan 24, 2021
Added df for: Mon Jan 25, 2021
Added df for: Tue Jan 26, 2021
Added df for: Wed Jan 27, 2021
Added df for: Thu Jan 28, 2021
Added df for: Fri Jan 29, 2021
Added df for: Sat Jan 30, 2021
Added df for: Sun Jan 31, 2021
Added df for: Mon Feb 1, 2021
Added df for: Tue Feb 2, 2021
Added df for: Wed Feb 3, 2021
Added df for: Thu Feb 4, 2021
Added df for: Fri Feb 5, 2021
Added df for: Sat Feb 6, 2021
Added df for: Sun Feb 7, 2021
Added df for: Mon Feb 8, 2021
Added df for: Tue Feb 9, 2021
Added df for: Wed Feb 10, 2021
Added df for: Thu Feb 11, 2021
Added df for: Fri Feb 12, 2021
Added df for: Sat Feb 13, 2021
Added df for: Sun Feb 14, 2021
Added df for: Mon Feb 15, 2021
Added df for: Tue Feb 16, 2021
Added df for: Wed Feb 17, 2021
Added df for: Thu Feb 18, 2021
Added df for: Fri Feb 19, 2021
Added df for: Sat Feb 20, 2021
Added df for: Sun Feb 21, 2021
Added df for: Mon Feb 22, 2021
Added df for: Tue Feb 23, 2021
Added df for: Wed Feb 24, 2021
Added df for: Thu Feb 25, 2021
Added df for: Fri Feb 26, 2021
Added df for: Sat Feb 27, 2021
Added df for: Sun Feb 28, 2021
Added df for: Mon Mar 1, 2021
Added df for: Tue Mar 2, 2021
Added df for: Wed Mar 3, 2021
Added df for: Thu Mar 4, 2021
Added df for: Fri Mar 5, 2021
Added df for: Sat Mar 6, 2021
Added df for: Sun Mar 7, 2021
Added df for: Mon Mar 8, 2021
Added df for: Tue Mar 9, 2021
Added df for: Wed Mar 10, 2021
Added df for: Thu Mar 11, 2021
Added df for: Fri Mar 12, 2021
Added df for: Sat Mar 13, 2021
Added df for: Sun Mar 14, 2021
Added df for: Mon Mar 15, 2021
Added df for: Tue Mar 16, 2021
Added df for: Wed Mar 17, 2021
Added df for: Thu Mar 18, 2021
Added df for: Fri Mar 19, 2021
Added df for: Sat Mar 20, 2021
Added df for: Sun Mar 21, 2021
Added df for: Mon Mar 22, 2021
Added df for: Tue Mar 23, 2021
Added df for: Wed Mar 24, 2021
Added df for: Thu Mar 25, 2021
Added df for: Fri Mar 26, 2021
Added df for: Sat Mar 27, 2021
Added df for: Sun Mar 28, 2021
Added df for: Mon Mar 29, 2021
Added df for: Tue Mar 30, 2021
Added df for: Wed Mar 31, 2021
Added df for: Thu Apr 1, 2021
Added df for: Fri Apr 2, 2021
Added df for: Sat Apr 3, 2021
Added df for: Sun Apr 4, 2021
Added df for: Mon Apr 5, 2021
Added df for: Tue Apr 6, 2021
Added df for: Wed Apr 7, 2021
Added df for: Thu Apr 8, 2021
Added df for: Fri Apr 9, 2021
Added df for: Sat Apr 10, 2021
Added df for: Sun Apr 11, 2021
Added df for: Mon Apr 12, 2021
Added df for: Tue Apr 13, 2021
Added df for: Wed Apr 14, 2021
Added df for: Thu Apr 15, 2021
Added df for: Fri Apr 16, 2021
Added df for: Sat Apr 17, 2021
Read multiple days error: No sheet named <'Sun Apr 18, 2021'>

,mmol/L,trend,exercise (mins),day,month,year,hours_time,weekday,Elliptical,Running,Walking,basketball,core training,functional strength training,high intensity interval training,martial arts,other,soccer,yoga
30584,9.8,3,NaN,17,4,2021,12.650000,5,0,0,0,0,0,0,0,0,0,0,0
30585,9.8,3,NaN,17,4,2021,12.733333,5,0,0,0,0,0,0,0,0,0,0,0
30586,9.7,3,NaN,17,4,2021,12.816667,5,0,0,0,0,0,0,0,0,0,0,0
30587,9.8,3,NaN,17,4,2021,12.900000,5,0,0,0,0,0,0,0,0,0,0,0
30588,9.7,3,NaN,17,4,2021,12.983333,5,0,0,0,0,0,0,0,0,0,0,0

In [2]:
df.to_pickle('full_2021_df')